<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/static/js/jquery-3.3.1.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<link type="text/css" th:src="@{/static/css/bootstrap.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <table class="table table-bordered">
        <tr>
            <td>11111</td>
            <td>2222</td>
        </tr>
        <td><input type="submit" name="审核" class="btn btn-success"></td>
    </table>
</head>
<body>

</body>
</html>